.post {
    &__date {
        font-size: 1.4rem;
    }

    &__meta {
        display: flex;
        margin-bottom: 4rem;
        @include title-font-heavy;
        font-size: 2rem;
        border-bottom: 3px solid var(--color-primary);

        &--css {
            border-color: var(--color-css);
        }

        &--js {
            border-color: var(--color-js);
        }

        &--rant {
            border-color: var(--color-rant);
        }

        .c-post__date {
            font-size: 14px;
        }

        .tags {
            margin-right: 1.6rem;
            margin-bottom: 0;
            border: 0;
            transform: skew(-12deg) translateX(3px);
        }

        .tag {
            @include title-font-heavy;
            font-size: 1.4rem;
            font-style: normal;
            line-height: 1.6rem;

            a:hover {
                text-decoration: none;
            }
        }

        @media (max-width: 900px) {
            margin-bottom: 2rem;
            font-size: 1.6rem;
        }

        @media (max-width: 600px) {
            font-size: 1.4rem;
        }
    }

    &__body {
        --flow-space: #{get-size(800)};

        /**
     * Generic HTML styles
     */
        h2 + *,
        h3 + * {
            --flow-space: #{get-size(500)};
        }

        h2,
        h3 {
            position: relative;
            /*display: flex;*/

            @include apply-utility("leading", "tight");
        }

        a:not([class]) {
            color: var(--color-dark);
            position: relative;
            display: inline-block;
            background: var(--color-theme-highlight);
            padding: 0.2rem 0.4rem 0.3rem 0.4rem;
            text-decoration: none;
            word-break: break-word;

            @include apply-utility("leading", "tight");
        }

        a:not([class]):hover {
            text-decoration: underline;
        }

        pre,
        code {
            border: 0;
            border-radius: 0;
        }
        pre {
            margin: 3rem 0;
            padding: 2rem 3rem;
            background-color: var(--color-dark-grey);
            border-left: 0.5rem solid var(--color-primary);

            code {
                padding: 0;
                color: var(--color-white);
                background-color: transparent;
            }

            .tag {
                background: none;
                text-transform: none;
            }
        }
        code {
            padding: rem-calc(3 6);
            color: var(--color-primary);
            background-color: var(--color-dark-grey);
            font-size: rem-calc(16);
        }
        blockquote {
            margin: 3rem 0;
            padding: 2rem 3rem;
            border-left: 10px solid var(--color-primary);
            background-color: rgba(255, 255, 255, 0.1);
            font-family: var(--title-font);
            font-size: 1em;
            font-style: normal;
            font-weight: 700;
            color: #f2e8e8;
        }

        ol:not([class]),
        ul:not([class]) {
            margin-left: get-size(800);

            li + li {
                margin-top: get-size(300);
            }
        }

        figure,
        figure + *,
        pre > code,
        .video-player,
        .video-player + *,
        video {
            --flow-space: #{get-size("max")};
        }

        figure img {
            position: relative;
            z-index: 1;
        }

        figcaption {
            font-size: 0.8em;
            font-style: italic;
            max-width: map-get($metrics, "wrap-inner-max-width");
            margin: 0.5rem auto 0 auto;
            padding: 0 get-size(500);
        }

        pre > code {
            display: block;
            font-size: get-size(500);
        }
    }

    &__footer {
        background: var(--color-theme-highlight);

        h2 {
            flex-shrink: 0;
            margin-right: get-size("base");
            color: var(--color-dark);
        }

        h2 a {
            @extend %visually-hidden;
        }

        a {
            background: var(--color-bg);
            padding: 0.4rem 0.6rem;
        }
    }

    &__footer {

        .tags {
            margin-bottom: 0;
            border-bottom: 0;
        }
    }
}
