.post-list {
    $this: &;

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 4rem;
        grid-column-gap: 6rem;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &--css {

            .tags {
                border-color: var(--color-css);
            }

            #{$this}__link:hover {
                color: var(--color-css);
            }
        }

        &--js {

            .tags {
                border-color: var(--color-js);
            }

            #{$this}__link:hover {
                color: var(--color-js);
            }
        }

        &--rant {

            .tags {
                border-color: var(--color-rant);
            }

            #{$this}__link:hover {
                color: var(--color-rant);
            }
        }
    }

    &__link {
        color: var(--color-white);
        text-decoration: none;
    }
}
