{% if postListItems.length %}
    <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
        <ol class="post-list__items wrapper">
            {% for item in postListItems %}
                {% if item.date.getTime() <= global.now %}
                    <li class="post-list__item {% if item.data.tags %}{% for tag in item.data.tags %}post-list__item--{{ tag }}{% endfor %}{% endif %}">
                        <div class="post__meta {% if item.data.tags %}{% for tag in item.data.tags %} post__meta--{{ tag }}{% endfor %}{% endif %}">
                            {% if item.data.tags %}
                                <ul class="tags">
                                    {% for tag in item.data.tags %}
                                        <li class="tag tag--{{ tag }}">
                                            <a href="/tag/{{ tag }}/">{{ tag }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}

                            <time class="c-post__date" datetime="{{ item.date | w3DateFilter }}" itemprop="datePublished">
                                {{ item.date | dateFilter }}
                            </time>
                        </div>
                        <h3 class="heading heading--post-list">
                            <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
                        </h3>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
