{% if postListItems.length %}
    <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
        <ol class="post-list__items wrapper">
            {% for item in postListItems %}
                {% if item.date.getTime() <= global.now %}
                    <li class="post-list__item">
                        {% if item.tags.length %}
                            <ul class="tags {{ tags }}">
                                {% for tag in item.tags %}
                                    <li class="tag tag--{{ tag }}">
                                        <a href="/tag/{{ tag }}/">{{ tag }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <h3 class="heading heading--post-list">
                            <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
                        </h3>
                        <span class="c-post__date">{{ item.date | dateFilter }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </section>
{% endif %}
