<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="header wrapper">
    <a href="/" title="" class="logo h2">
        Ash <span class="logo--outline">Robbins</span>
    </a>
    {% set ariaLabel = 'navigation' %}
    {% include "partials/components/nav.njk" %}
</header>
