{% extends 'layouts/base.njk' %}

{% set introHeading = title %}

{% block content %}
    <main id="main-content" tabindex="-1">
        <article class="[ post ] [ h-entry ]">
            <header class="[ intro ] [ pad-top-900 ]">
                <div class="[ inner-wrapper ] [ sf-flow ]">
                    <h1 class="[ intro__heading{{ ' intro__heading--compact' if page.url === '/' }} ] [ text-800 md:text-900 leading-tight ] [ p-name ]">{{ introHeading }}</h1>
                </div>
            </header>
            <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 pad-bottom-900 ] [ sf-flow ] [ e-content ]">
                {{ content | safe }}
            </div>
        </article>
    </main>
{% endblock %}

{{ content | safe }}
