{% extends 'layouts/base.njk' %}

{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ leading-loose pad-top-900 {{ 'pad-bottom-900' if not site.enableThirdPartyComments }} ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
      </div>
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside class="[ post__body ] [ inner-wrapper ] [ pad-bottom-900 ]">
          {% include "partials/global/third-party-comments.njk" %}
        </aside>
      {% endif %}
      {% if tags %}
        <footer class="[ post__footer ] [ pad-top-500 pad-bottom-500 ]">
          <div class="inner-wrapper">
            <div class="[ nav ] [ box-flex align-center ]">
              <h2 class="font-base text-600 weight-heavy">Filed under</h2>
              <ul class="tags">
                {% for item in tags %}
                  <li class="tag tag--{{ item }}">
                    <a href="/tags/{{ item }}">{{ item }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </footer>
      {% endif %}
    </article>
  </main>
{% endblock %}

{{ content | safe }}
