:root {
    // Colours
    --color-white: #ffffff;
    --color-black: #18161d;
    --color-yellow: #FFEB3A;
    --color-dark-grey: #3a3a3a;

    --color-css: cornflowerblue;
    --color-js: darkorchid;
    --color-rant: tomato;

    --color-primary: var(--color-yellow);
    --color-dark-text: var(--color-black);
    --color-selection-bg: var(--color-yellow);

    --body-font: "Roboto", sans-serif;
    --title-font: "Montserrat", sans-serif;
}

@mixin title-font-black {
    font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 900;
    font-style: italic;
}
@mixin title-font-heavy {
    font-family: "Montserrat", Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 700;
    font-style: italic;
}
@mixin body-font-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
@mixin body-font-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
@mixin body-font-heavy {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
}

main {
  overflow: hidden;
}

a {
    text-decoration: none;

    &:hover {
        color: var(--color-primary);
    }
}

::selection {
  color: var(--color-dark-text);
  background-color: var(--color-selection-bg);
}
